
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    outline: none;
    border: none;
}

body {
    color: white;
    background: #081b29;
}

.filter {
    float: left;
    margin-left: 30px;
    margin-top: 15px;
}
.total {
    float: right;
    margin-right: 60px;
}

.step {
    display: flex;
    margin-left: 30px;
}

.step li{
    margin: 15px;
}

.category {
    margin-left: 60px;
}
